@import url('normalized.css');

/* Fonts */
@font-face {
	font-family: 'Bold';
	src: url('font/Lato-Bold.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Italic';
    src: url('font/Lato-Italic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Medium';
    src: url('font/Lato-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Regular';
    src: url('font/Lato-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


body {
	font: 16px 'Regular', 'Myriad Pro', sans-serif;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	min-width: 900px;
}

h1 {
	font: 4.5em 'Myriad Pro', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

.empty {
	clear: both;
}

.next {
	margin-top: 40px;
}

#container {
	margin: 0;
	padding: 0;
}

#header {
	width: 100%;
	height: 1063px;
	background-color: #000;
	margin: 0 auto;
	padding: 0;
}

.header {
	max-width: 1600px;
	background: url('../images/header_bg.jpg') 0 0 no-repeat;
	background-size: cover;
	height: 962px;
  	margin: 0 auto;
  	padding: 0 12.5%;
}

.header-flexy-box {
	display: flex;
	display: -webkit-flex;
	height: 55px;
	border-bottom: 1px solid #333;
	padding-top: 27px;
}

.logo {
	width: 40%;
}

.menu {
	width: 60%;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}

.menu a {
	font: 1em 'Regular', 'Myriad Pro', sans-serif;
	color: #fff;
	height: 55px;
	text-decoration: none;
	text-align: center;
}

.menu a:hover {
	border-bottom: 1px solid #fff;
}

.header-text {
	width: 100%;
	height: 100vh;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.header-text > h1, h2, h3, p {
	align-self: center;
}

.header-text > p {
	font: 2em 'Georgia', 'Myriad Pro', sans-serif;
	font-style: italic;
	line-height: 1.5em;
}

/* Header-member-links */
.member {
	width: 100%;
	height: 101px;
	background-color: #21424b;
	margin: 0;
}

.member :nth-child(1) {
	text-align: right;
	padding-right: 15%;
	-webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%, 0 0);
  	clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%, 0 0);
	width: 36.3%;
	margin-right: -1.3%;
	transition: background-color 0.2s;

}

.member :nth-child(2) {
	text-align: left;
	padding-left: 15%;
	-webkit-clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%, 5% 0);
  	clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%, 5% 0);
	width: 36.3%;
	margin-left: -1.3%;
	transition: background-color 0.2s;

}

.member a {
	font: 1.4em 'Bold', 'Myriad Pro', sans-serif;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	padding-top: 37px;
	display: block;
	height: 64px;
  	float: left;
}

.member a:hover {
	background-color: #2fab6c;
	transition: background-color 0.2s;
}

/* Content */
#content {
	margin: 75px 0;
	height: 380px;
	text-align: center;
}

#content h2 {
	font: 1.4em 'Bold', 'Myriad Pro', sans-serif;
	color: #383737;
}

#content p {
	font: 1em 'Regular', 'Myriad Pro', sans-serif;
	color: #a2a2a2;
	margin: 15px 12px 40px;
	line-height: 1.5em;
}

/* domain-table */
.d-table {
	display: table;
	border-collapse: collapse;
	margin: 0 auto;
	width: 65%;
	height: 50px;
	border: 1px solid #d9d9d9;
}

.d-table > div:nth-child(odd) {
	width: 70px;
}

.d-table > div:nth-child(even) {
	text-align: left;
	padding: 0 18px;
}

.d-table > div:nth-child(3) {
	text-align: left;
}

.d-table > div {
	display: table-cell;
	font: 1em 'Regular', 'Myriad Pro', sans-serif;
	color: #cbcbcb;
	vertical-align: middle;
	border-right: 1px solid #d9d9d9;
}

.d-table > div input[type="text"] {
	font: 1em 'Regular', 'Myriad Pro', sans-serif;
	color: #868686;
}

.d-table > div input[type="text"] {
	border: 0;
	outline: none;
	color: #868686;
	width: 100%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font: 1em 'Regular', 'Myriad Pro', sans-serif;
	color: #868686;
}
::-moz-placeholder { /* Firefox 19+ */
	font: 1em 'Regular', 'Myriad Pro', sans-serif;
	color: #868686;
}
:-ms-input-placeholder { /* IE 10+ */
	font: 1em 'Regular', 'Myriad Pro', sans-serif;
	color: #868686;
}
:-moz-placeholder { /* Firefox 18- */
	font: 1em 'Regular', 'Myriad Pro', sans-serif;
	color: #868686;
}

.d-table > div select {
    font: 1em 'Regular', 'Myriad Pro', sans-serif;
	color: #cbcbcb;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    background: url('../images/arrow.png') right no-repeat;
    width: 70px;
    height: 50px;
    margin: 0;
    padding: 0 10px;
}

/* domain-prices */
.d-prices {
	display: table;
	border-collapse: collapse;
	margin: 0 auto;
	width: 65%;
	height: 160px;
	color: #cbcbcb;
	border: 1px solid #d9d9d9;
}

.d-row {
	display: table-row;
}

.d-row > div:first-child {
	text-transform: uppercase;
}


.d-row > div {
	border: 1px solid #d9d9d9;
}

.d-row > div {
	display: table-cell;
	font: 0.8em 'Regular', 'Myriad Pro', sans-serif;
	vertical-align: middle;
	width: 12.5%;
	height: 80px;
}

/* packages */
#packages {
	width: 100%;
	height: 760px;
	margin: 0 auto;
	padding: 0;
}

#packages h2 {
	font: 1em 'Bold', 'Myriad Pro', sans-serif;
	color: #000;
	text-transform: uppercase;
	text-align: center;
}

.packages-bg {
	width: 100%;
	height: 380px;
	background-color: #000;
}

.packages {
	max-width: 1600px;
	background: url('../images/packages_bg.jpg') 0 0 no-repeat;
	background-size: cover;
	height: 380px;
  	margin: 0 auto;
  	padding: 0 12.5%;
}

.packages-flexy-box {
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	height: 760px;
	padding-top: 100px;
}

.packages-box {
	width: 22%;
	height: 530px;
	background-color: #fff;
	-webkit-box-shadow: 0px 14px 19px -3px rgba(236,236,236,1);
	-moz-box-shadow: 0px 14px 19px -3px rgba(236,236,236,1);
	box-shadow: 0px 14px 19px -3px rgba(236,236,236,1);

}

div.yellow { border-top: 5px solid #f9d423; }

div.gray { border-top: 5px solid #7f8c8d; }

div.red { border-top: 5px solid #f85f40; }

div.aqua { border-top: 5px solid #1abc9c; }

div .cost-box a { padding: 12px 4px 0; margin-top: 4px; }

div.yellow .cost-box a { border-top: 3px solid #f9d423; }

div.gray .cost-box a { border-top: 3px solid #7f8c8d; }

div.red .cost-box a { border-top: 3px solid #f85f40; }

div.aqua .cost-box a { border-top: 3px solid #1abc9c; }

div.yellow, div.yellow span { color: #f9d423; }

div.gray, div.gray span { color: #7f8c8d; }

div.red, div.red span {	color: #f85f40; }

div.aqua, div.aqua span { color: #1abc9c; }

div.yellow .icons { background: #f9d423; }

div.gray .icons { background: #7f8c8d; }

div.red .icons { background: #f85f40; }

div.aqua .icons { background: #1abc9c; }

.content-box, .cost-box {
	width: 100%;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	flex-wrap: wrap;
}

.content-box p {
	width: 100%;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	justify-content: space-between;
	font: 1em 'Regular', 'Myriad Pro', sans-serif;
	color: #b4b4b4;
	line-height: 1.5em;
	margin: 0.6em 1em;
}

.content-box > p:first-child {
	border-top: 1px solid #dfdfdf;
	padding-top: 1em;
}

.content-box > p:last-child {
	border-bottom: 1px solid #dfdfdf;
	padding-bottom: 1em;
}

.cost-box > p {
	font: 1.6em 'Bold', 'Myriad Pro', sans-serif;
	color: #2c2c2c;
	width: 100%;
	text-align: center;
}

.cost-box > p span {
	font: 0.6em 'Bold', 'Myriad Pro', sans-serif;
	color: #2c2c2c;
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}

.cost-box > p::after {
	content: "/Mo";
	font: 0.4em 'Bold', 'Myriad Pro', sans-serif;
	color: #8d8d8d;
	vertical-align: baseline;
	position: relative;
	bottom: 0;
}

.cost-box > a {
	font: 1em 'Bold', 'Myriad Pro', sans-serif;
	color: #282828;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition-duration: 0.3s;
  	-moz-transition-duration: 0.3s;
  	transition-duration: 0.3s;
}

.cost-box > a:hover {
	opacity: 0.6;
	-webkit-transition-duration: 0.3s;
  	-moz-transition-duration: 0.3s;
  	transition-duration: 0.3s;
}

/* icon-box */
.icons-box {
	height: 70px;
	width: 100%;
	margin: 15px 0;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center; 
}

.icons-box .icons {
 	width: 100px;
  	height: 100px;
  	border-radius: 50%;
  	transform: scale(0.5);
  	line-height: 100px;
  	vertical-align: middle;
  	text-align: center;
  	font-size: 2em;
}

.icons-box .icons > .icon {
	width: 76px;
  	height: 76px;
  	border-radius: 50%;
  	line-height: 76px;
  	vertical-align: middle;
  	text-align: center;
  	background: #fff;
  	margin: 12px;
}

/* about */
#about {
	width: 100%;
	height: 400px;
	margin: 0 auto;
	padding: 0;
}

#about .left-container a {
	font: 2em 'Bold', 'Myriad Pro', sans-serif;
	color: #000;
	text-align: left;
	text-decoration: none;
	-webkit-transition-duration: 0.3s;
  	-moz-transition-duration: 0.3s;
  	transition-duration: 0.3s;
}

#about .left-container a:hover {
	opacity: 0.6;
	-webkit-transition-duration: 0.3s;
  	-moz-transition-duration: 0.3s;
  	transition-duration: 0.3s;
}

.about {
	max-width: 1600px;
	background-size: cover;
	height: 400px;
  	margin: 0 auto;
  	padding: 0 12.5%;
}

.about-container {
	border-top: 2px dotted #d8d8d8;
	padding-top: 80px;
	width: 100%;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	justify-content: space-between;
	font: 1em 'Regular', 'Myriad Pro', sans-serif;
	color: #747474;
}

.left-container {
	width: 50%;
	border-right: 2px dotted #d8d8d8;
}

.right-container {
	width: 50%;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	justify-content: space-between;
	text-align: center;
}

.left-container p {
	padding: 30px 10% 0 0;
	line-height: 1.5em;
	text-align: justify;
}

.right-container .item {
	min-width: 120px;
	width: 33%;
}

.right-container .item:first-child {
	padding-left: 10%;
}

.right-container .item img {
	width: 90px;
	border-radius: 50%;
  	line-height: 90px;
  	vertical-align: middle;
  	text-align: center;
  	background: #fff;
  	border: 7px solid #e5e5e5;
  	-webkit-transition-duration: 0.3s;
  	-moz-transition-duration: 0.3s;
  	transition-duration: 0.3s;
}

.right-container .item img:hover {
	-webkit-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-webkit-transition-duration: 0.3s;
	-moz-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
	-moz-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;

}

.right-container .item h3 {
	font: 1.1em 'Bols', 'Myriad Pro', sans-serif;
	color: #303030;
	margin-top: 1em;
}

.right-container .item a {
	color: #bfbfbf;
	font-size: 0.9em;
	text-decoration: none;
	margin: 1em 0.3em;
	-webkit-transition-duration: 0.3s;
  	-moz-transition-duration: 0.3s;
  	transition-duration: 0.3s;
}

.right-container .item a:hover {
	color: #1f89ba;
	-webkit-transition-duration: 0.3s;
  	-moz-transition-duration: 0.3s;
  	transition-duration: 0.3s;
}