@import url('normalized.css');

/* Fonts */
@font-face {
	font-family: 'Bold';
	src: url('font/Lato-Bold.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Italic';
    src: url('font/Lato-Italic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Medium';
    src: url('font/Lato-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Regular';
    src: url('font/Lato-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}




body {
	font: 16px 'Regular', 'Myriad Pro', sans-serif;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	min-width: 900px;
}

h1 {
	font: 4.5em 'Myriad Pro', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

.empty {
	clear: both;
}

.next {
	margin-top: 40px;
}

/*h2 {
	font: 2em 'Regular', 'Myriad Pro', sans-serif;
	margin: 12px 0 0;
}

p {
	margin: 12px 0;
	line-height: 1.5;
}

a {
	color: #0083c3;
	text-decoration: none;
	border-bottom: 1px solid #c6dceb;
	font-weight: normal;

}

a:hover {
	color: #da0000;
	text-decoration: none;
	border-bottom: 1px solid #ebc9d3;
}*/

#container {
	margin: 0;
	padding: 0;
}

#header {
	width: 100%;
	height: 1063px;
	background-color: #000;
	margin: 0 auto;
	padding: 0;
}

.header {
	max-width: 1600px;
	background: url('../images/header_bg.jpg') 0 0 no-repeat;
	background-size: cover;
	height: 962px;
  	margin: 0 auto;
  	padding: 0 12.5%;
}

.header-flexy-box {
	display: flex;
	display: -webkit-flex;
	height: 55px;
	border-bottom: 1px solid #333;
	padding-top: 27px;
}

.logo {
	width: 40%;
}

.menu {
	width: 60%;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}

.menu a {
	font: 1em 'Regular', 'Myriad Pro', sans-serif;
	color: #fff;
	height: 55px;
	text-decoration: none;
	text-align: center;
}

.menu a:hover {
	border-bottom: 1px solid #fff;
}

.header-text {
	width: 100%;
	height: 100vh;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.header-text > h1, h2, h3, p {
	align-self: center;
}

.header-text > p {
	font: 2em 'Georgia', 'Myriad Pro', sans-serif;
	font-style: italic;
	line-height: 1.5em;
}

/* Header-member-links */
.member {
	width: 100%;
	height: 101px;
	background-color: #21424b;
	margin: 0;
}

.member :nth-child(1) {
	text-align: right;
	padding-right: 15%;
	-webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%, 0 0);
  	clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%, 0 0);
	width: 36.3%;
	margin-right: -1.3%;
	transition: background-color 0.2s;

}

.member :nth-child(2) {
	text-align: left;
	padding-left: 15%;
	-webkit-clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%, 5% 0);
  	clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%, 5% 0);
	width: 36.3%;
	margin-left: -1.3%;
	transition: background-color 0.2s;

}

.member a {
	font: 1.4em 'Bold', 'Myriad Pro', sans-serif;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	padding-top: 37px;
	display: block;
	height: 64px;
  	float: left;
}

.member a:hover {
	background-color: #2fab6c;
	transition: background-color 0.2s;

}

/* Content */
#content {
	margin: 75px 0;
	height: 400px;
	text-align: center;
}

#content h2 {
	font: 1.4em 'Bold', 'Myriad Pro', sans-serif;
	color: #383737;
}

#content p {
	font: 1em 'Regular', 'Myriad Pro', sans-serif;
	color: #a2a2a2;
	margin: 15px 12px 40px;
	line-height: 1.5em;
}

/* domain-table */
.d-table {
	display: table;
	border-collapse: collapse;
	margin: 0 auto;
	width: 65%;
	height: 50px;
	border: 1px solid #d9d9d9;
}

.d-table > div:nth-child(odd) {
	width: 70px;
}

.d-table > div:nth-child(even) {
	text-align: left;
	padding: 0 18px;
}

.d-table > div:nth-child(3) {
	text-align: left;
}

.d-table > div {
	display: table-cell;
	font: 1em 'Regular', 'Myriad Pro', sans-serif;
	color: #cbcbcb;
	vertical-align: middle;
	border-right: 1px solid #d9d9d9;
}

.d-table > div input[type="text"] {
	font: 1em 'Regular', 'Myriad Pro', sans-serif;
	color: #868686;
}

.d-table > div input[type="text"] {
	border: 0;
	outline: none;
	color: #868686;
	width: 100%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font: 1em 'Regular', 'Myriad Pro', sans-serif;
	color: #868686;
}
::-moz-placeholder { /* Firefox 19+ */
	font: 1em 'Regular', 'Myriad Pro', sans-serif;
	color: #868686;
}
:-ms-input-placeholder { /* IE 10+ */
	font: 1em 'Regular', 'Myriad Pro', sans-serif;
	color: #868686;
}
:-moz-placeholder { /* Firefox 18- */
	font: 1em 'Regular', 'Myriad Pro', sans-serif;
	color: #868686;
}

.d-table > div select {
    font: 1em 'Regular', 'Myriad Pro', sans-serif;
	color: #cbcbcb;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    background: url('../images/arrow.png') right no-repeat;
    width: 70px;
    height: 50px;
    margin: 0;
    padding: 0 10px;
}

/* domain-prices */
.d-prices {
	display: table;
	border-collapse: collapse;
	margin: 0 auto;
	width: 65%;
	height: 160px;
	color: #cbcbcb;
	border: 1px solid #d9d9d9;
}

.d-row {
	display: table-row;
}

.d-row > div:first-child {
	text-transform: uppercase;
}


.d-row > div {
	border: 1px solid #d9d9d9;
}

.d-row > div {
	display: table-cell;
	font: 0.8em 'Regular', 'Myriad Pro', sans-serif;
	vertical-align: middle;
	width: 12.5%;
	height: 80px;
}




